
.article-wrapper {
    color: black;
    /* text-align: center; */
}

.article-title {
    text-align: center;
}

.image-container {
    padding: 30px 0 30px 0;
    text-align: center;
}

.summary-container {
    text-align: center;
    padding-bottom: 40px;
}

.blogs-list-container {
    padding-left: 10%;
}