{% extends "base.html" %}
{% load staticfiles %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'css/my_styles.css' %}">
{% endblock %}

{% block head_title %} Lista de bitácoras {% endblock %}
{% block content %}

  <section class="blogs-list-container">

    <h1>Las mejores bitácoras en español</h1>
    {% for user in users %}
      <a href="{% url 'user_posts_page' username=user %}">
        <h4>Blog de {{user}}</h4>
      </a>

    {% endfor %}

  </section>

{% endblock%}